In [8]:
import pandas as pd
import os

In [9]:
data_folder = 'imdb_data'
data_files = []
for _, _, files in os.walk(data_folder, topdown=False):
   for name in files:
      data_files.append(os.path.join(data_folder, name))

In [10]:
data_files

['imdb_data\\name.basics.tsv.gz',
 'imdb_data\\Readme.txt',
 'imdb_data\\title.akas.tsv.gz',
 'imdb_data\\title.basics.tsv.gz',
 'imdb_data\\title.crew.tsv.gz',
 'imdb_data\\title.episode.tsv.gz',
 'imdb_data\\title.principals.tsv.gz',
 'imdb_data\\title.ratings.tsv.gz']

In [11]:
data_frames = []
for d in data_files:
    if '.gz' in d:
        data_frames.append(pd.read_csv(d, delimiter='\t', low_memory=False))

In [13]:
#for d in data_frames:
  #  print(d.head())

In [14]:
data_frames[2]['titleType'].unique()

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

## Start naming tables

### Table [0] or 1st table name.basics.tsv.gz

In [15]:
data_frames[0].head(1)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"

In [16]:
names_basic_df = data_frames[0]


names_basic_df['tableName'] = 'name.basics.tsv.gz'
names_basic_df['tableDescription'] = 'information for titles'
               
names_basic_df.head(1)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,tableName,tableDescription
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308",name.basics.tsv.gz,information for titles

## Table [1] or 2nd table title.akas.tsv.gz

In [17]:
data_frames[1].head(1)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0

In [18]:
titles_akas_pf = data_frames[1]

titles_akas_pf['tableName'] = 'title.akas.tsv.gz'
titles_akas_pf['tableDescription'] = 'information for titles'
               
titles_akas_pf.head(1)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tableName,tableDescription
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0,title.akas.tsv.gz,information for titles

## Table [2] or 3rd table title.basics.tsv.gz

In [19]:
data_frames[2].head(1)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"

In [20]:
titles_basic_pf = data_frames[2]


titles_basic_pf['tableName'] = 'title.basics.tsv.gz'
titles_basic_pf['tableDescription'] = 'information for titles'
               
titles_basic_pf.head(1)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tableName,tableDescription
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",title.basics.tsv.gz,information for titles

## Table [3] or 4th table title.crew.tsv.gz

In [21]:
data_frames[3].head(1)

      tconst  directors writers
0  tt0000001  nm0005690      \N

In [22]:
titles_crew_pf = data_frames[3]


titles_crew_pf['tableName'] = 'title.crew.tsv.gz'
titles_crew_pf['tableDescription'] = 'Contains the director and writer information for all the titles in IMDb'
               
titles_crew_pf.head(1)

,tconst,directors,writers,tableName,tableDescription
0,tt0000001,nm0005690,\N,title.crew.tsv.gz,Contains the director and writer information f...

## Table [4] or 5th table title.episode.tsv.gz

In [23]:
data_frames[4].head(1)

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9

In [24]:
titles_episode_pf = data_frames[4]


titles_episode_pf['tableName'] = 'title.episode.tsv.gz'
titles_episode_pf['tableDescription'] = 'Contains the tv episode information'
               
titles_episode_pf.head(1)

,tconst,parentTconst,seasonNumber,episodeNumber,tableName,tableDescription
0,tt0041951,tt0041038,1,9,title.episode.tsv.gz,Contains the tv episode information

## Table [5] or 6th table title.principals.tsv.gz

In [25]:
data_frames[5].head(1)

      tconst  ordering     nconst category job   characters
0  tt0000001         1  nm1588970     self  \N  ["Herself"]

In [26]:
titles_principals_pf = data_frames[5]


titles_principals_pf['tableName'] = 'title.principals.tsv.gz'
titles_principals_pf['tableDescription'] = 'Contains the principal cast_crew for titles'
               
titles_principals_pf.head(1)

,tconst,ordering,nconst,category,job,characters,tableName,tableDescription
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]",title.principals.tsv.gz,Contains the principal cast_crew for titles

## Table [6] or 7th table title.ratings.tsv.gz

In [27]:
data_frames[6].head(1)

      tconst  averageRating  numVotes
0  tt0000001            5.8      1458

In [28]:
titles_ratings_pf = data_frames[6]


titles_ratings_pf['tableName'] = 'title.ratings.tsv.gz'
titles_ratings_pf['tableDescription'] = 'Contains the IMDb rating and votes information for titles'
               
titles_ratings_pf.head(1)

,tconst,averageRating,numVotes,tableName,tableDescription
0,tt0000001,5.8,1458,title.ratings.tsv.gz,Contains the IMDb rating and votes information...

## End Renaming

## Explore data

In [29]:
episodes = data_frames[2].loc[data_frames[2]['titleType'] == 'tvSeries']
episodes.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tableName,tableDescription
34995,tt0035599,tvSeries,Voice of Firestone Televues,Voice of Firestone Televues,0,1943,1947,15,\N,title.basics.tsv.gz,information for titles
37625,tt0038276,tvSeries,You Are an Artist,You Are an Artist,0,1946,1950,15,\N,title.basics.tsv.gz,information for titles
38459,tt0039120,tvSeries,Americana,Americana,0,1947,1949,30,"Family,Game-Show",title.basics.tsv.gz,information for titles
38460,tt0039121,tvSeries,Birthday Party,Birthday Party,0,1947,1949,30,Family,title.basics.tsv.gz,information for titles
38461,tt0039122,tvSeries,The Borden Show,The Borden Show,0,1947,\N,30,"Comedy,Music",title.basics.tsv.gz,information for titles

## Explore Table 1 name.basics.tsv.gz

In [30]:
names_basic_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,tableName,tableDescription
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308",name.basics.tsv.gz,information for titles
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0038355,tt0071877",name.basics.tsv.gz,information for titles
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0059956,tt0057345,tt0054452,tt0049189",name.basics.tsv.gz,information for titles
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0078723,tt0080455,tt0072562,tt0077975",name.basics.tsv.gz,information for titles
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976",name.basics.tsv.gz,information for titles

## How to find a person

In [31]:
simpsons_actor_s1e1_lisa = names_basic_df.loc[names_basic_df['nconst'] == 'nm0810379']

simpsons_actor_s1e1_lisa.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,tableName,tableDescription
766197,nm0810379,Yeardley Smith,1964,\N,"actress,soundtrack,producer","tt0462538,tt0091499,tt0101587,tt0096697",name.basics.tsv.gz,information for titles

In [32]:
names_basic_df.columns

Index(['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles', 'tableName', 'tableDescription'],
      dtype='object')

# How to find the title of each series

In [33]:
simpsons_series = titles_basic_pf.loc[titles_basic_pf['tconst'] == 'tt0096697']
simpsons_series.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tableName,tableDescription
94613,tt0096697,tvSeries,The Simpsons,The Simpsons,0,1989,\N,22,"Animation,Comedy",title.basics.tsv.gz,information for titles

In [34]:
rick_morty_series = titles_basic_pf.loc[titles_basic_pf['tconst'] == 'tt2861424']
rick_morty_series.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tableName,tableDescription
2487541,tt2861424,tvSeries,Rick and Morty,Rick and Morty,0,2013,\N,23,"Adventure,Animation,Comedy",title.basics.tsv.gz,information for titles

In [ ]:
titles_basic_pf['titleType'].unique()

In [ ]:
titles_basic_pf['tconst'].nunique()

In [ ]:
titles_basic_pf['primaryTitle'].nunique()

In [ ]:
titles_basic_pf['genres'].nunique()

In [ ]:
titles_basic_pf.head()

## Explore Table 2 title.akas.tsv.gz

In [35]:
titles_akas_pf.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,tableName,tableDescription
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0,title.akas.tsv.gz,information for titles
1,tt0000001,2,Καρμενσίτα,GR,\N,\N,\N,0,title.akas.tsv.gz,information for titles
2,tt0000001,3,Карменсита,RU,\N,\N,\N,0,title.akas.tsv.gz,information for titles
3,tt0000001,4,Carmencita,US,\N,\N,\N,0,title.akas.tsv.gz,information for titles
4,tt0000001,5,Carmencita,\N,\N,original,\N,1,title.akas.tsv.gz,information for titles

## Explore Table 3 title.basics.tsv.gz

In [36]:
titles_basic_pf.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tableName,tableDescription
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",title.basics.tsv.gz,information for titles
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",title.basics.tsv.gz,information for titles
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",title.basics.tsv.gz,information for titles
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short",title.basics.tsv.gz,information for titles
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",title.basics.tsv.gz,information for titles

## Explore Table 4 title.crew.tsv.gz

In [37]:
titles_crew_pf.head()

,tconst,directors,writers,tableName,tableDescription
0,tt0000001,nm0005690,\N,title.crew.tsv.gz,Contains the director and writer information f...
1,tt0000002,nm0721526,\N,title.crew.tsv.gz,Contains the director and writer information f...
2,tt0000003,nm0721526,\N,title.crew.tsv.gz,Contains the director and writer information f...
3,tt0000004,nm0721526,\N,title.crew.tsv.gz,Contains the director and writer information f...
4,tt0000005,nm0005690,\N,title.crew.tsv.gz,Contains the director and writer information f...

## Explore Table 5 title.episode.tsv.gz

In [38]:
titles_episode_pf.head()

,tconst,parentTconst,seasonNumber,episodeNumber,tableName,tableDescription
0,tt0041951,tt0041038,1,9,title.episode.tsv.gz,Contains the tv episode information
1,tt0042816,tt0989125,1,17,title.episode.tsv.gz,Contains the tv episode information
2,tt0042889,tt0989125,\N,\N,title.episode.tsv.gz,Contains the tv episode information
3,tt0043426,tt0040051,3,42,title.episode.tsv.gz,Contains the tv episode information
4,tt0043631,tt0989125,2,16,title.episode.tsv.gz,Contains the tv episode information

In [39]:
titles_episode_pf['tconst'].nunique()

3840353

# Query tables for valuable information

## Return the name of all the show titles and basic information

In [ ]:
titles_basic_pf.head()

In [71]:
all_episodes_titles = titles_basic_pf[titles_basic_pf.tconst.isin(top_20_shows)]

In [72]:
all_episodes_titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tableName,tableDescription
94613,tt0096697,tvSeries,The Simpsons,The Simpsons,0,1989,\N,22,"Animation,Comedy",title.basics.tsv.gz,information for titles
98978,tt0101178,tvSeries,The Ren & Stimpy Show,The Ren & Stimpy Show,0,1991,1996,30,"Animation,Comedy",title.basics.tsv.gz,information for titles
103673,tt0105950,tvSeries,Beavis and Butt-Head,Beavis and Butt-Head,0,1993,2011,15,"Animation,Comedy,Music",title.basics.tsv.gz,information for titles
106598,tt0108937,tvSeries,Space Ghost Coast to Coast,Space Ghost Coast to Coast,0,1993,2008,15,"Animation,Comedy,Sci-Fi",title.basics.tsv.gz,information for titles
115686,tt0118298,tvSeries,Daria,Daria,0,1997,2001,30,"Animation,Comedy,Drama",title.basics.tsv.gz,information for titles

# How to find each episode of a series

In [62]:
top_24_shows = [

    'tt0096697',
    'tt2861424',
    'tt0101178',
    'tt0105950',
    'tt0402022',
    'tt0208614',
    'tt0118298',
    'tt0121955',
    'tt0182576',
    'tt0397306',
    'tt0118375',
    'tt0108937',
    'tt0149460',
    'tt0297494',
    'tt1486217',
    'tt0373732',
    'tt0839188',
    'tt0437745',
    'tt0457146',
    'tt1031283',
    'tt6524350',
    'tt1561755',
    'tt3398228',
    'tt2950342'

]

simpsons_id = 'tt0096697'
rick_and_morty_id = 'tt2861424'  
ren_and_stimpy_id = 'tt0101178'
beevis_and_butthead_id = 'tt0105950' 
aeon_flux_id ='tt0402022'
celebrity_death_match_id = 'tt0208614'
daria_id = 'tt0118298'
south_park_id = 'tt0121955'
family_guy_id = 'tt0182576'
american_dad_id = 'tt0397306'
king_of_the_hill_id =  'tt0118375'
space_ghost_id = 'tt0108937'
futurama_id = 'tt0149460'
aqua_teen_id = 'tt0297494'
archer_id = 'tt1486217'
boondocks_id = 'tt0373732'
metalocalypse_id = 'tt0839188'
robot_chicken_id = 'tt0437745'
squidbillies_id = 'tt0457146'
super_jail_id = 'tt1031283'  
big_mouth_id = 'tt6524350'
bobs_burgers_id = 'tt1561755'
bojack_horseman_id =  'tt3398228'
mr_pickles_id = 'tt2950342'

mr_pickles_id

'tt2950342'

# DataFrame with top 24 shows (series) every episode

In [51]:
all_episodes = titles_episode_pf[titles_episode_pf.parentTconst.isin(top_20_shows)]

In [52]:
all_episodes.tail()

,tconst,parentTconst,seasonNumber,episodeNumber,tableName,tableDescription
3831999,tt9652854,tt0182576,17,18,title.episode.tsv.gz,Contains the tv episode information
3838095,tt9667904,tt1561755,9,16,title.episode.tsv.gz,Contains the tv episode information
3838103,tt9667920,tt1561755,9,17,title.episode.tsv.gz,Contains the tv episode information
3838108,tt9667930,tt1561755,9,18,title.episode.tsv.gz,Contains the tv episode information
3838114,tt9667942,tt1561755,9,19,title.episode.tsv.gz,Contains the tv episode information

## Find every episode of indiviual shows

In [55]:
simpsons_every_episode_df = titles_episode_pf.loc[titles_episode_pf['parentTconst'] == simpsons_id]
simpsons_every_episode_df.head()

,tconst,parentTconst,seasonNumber,episodeNumber,tableName,tableDescription
2941,tt0177842,tt0096697,7,6,title.episode.tsv.gz,Contains the tv episode information
6555,tt0348034,tt0096697,1,1,title.episode.tsv.gz,Contains the tv episode information
208596,tt0701040,tt0096697,5,10,title.episode.tsv.gz,Contains the tv episode information
208597,tt0701041,tt0096697,6,22,title.episode.tsv.gz,Contains the tv episode information
208598,tt0701042,tt0096697,14,16,title.episode.tsv.gz,Contains the tv episode information

In [56]:
rick_morty_every_episode_df = titles_episode_pf.loc[titles_episode_pf['parentTconst'] == rick_and_morty_id]
rick_morty_every_episode_df.head()

,tconst,parentTconst,seasonNumber,episodeNumber,tableName,tableDescription
1237536,tt2169080,tt2861424,1,1,title.episode.tsv.gz,Contains the tv episode information
1654859,tt3333824,tt2861424,1,2,title.episode.tsv.gz,Contains the tv episode information
1654860,tt3333828,tt2861424,1,3,title.episode.tsv.gz,Contains the tv episode information
1654861,tt3333830,tt2861424,1,4,title.episode.tsv.gz,Contains the tv episode information
1654862,tt3333832,tt2861424,1,5,title.episode.tsv.gz,Contains the tv episode information

# Variables to hold all episode ids for each show series

In [67]:
simpson_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==simpsons_id])
rick_and_morty_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==rick_and_morty_id])
ren_and_stimpy_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==ren_and_stimpy_id])
beevis_and_butthead_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==beevis_and_butthead_id])
aeon_flux_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==aeon_flux_id])
celebrity_death_match_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==celebrity_death_match_id])
daria_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==south_park_id])
family_guy_id_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==family_guy_id])
american_dad_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==american_dad_id])
king_of_the_hill_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==king_of_the_hill_id])
space_ghost_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==space_ghost_id])
futurama_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==futurama_id])
aqua_teen_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==aqua_teen_id])
archer_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==archer_id])
boondocks_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==boondocks_id])
metalocalypse_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==metalocalypse_id])
robot_chicken_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==robot_chicken_id])
squidbillies_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==squidbillies_id])
super_jail_id_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==super_jail_id])
big_mouth_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==big_mouth_id])
bobs_burgers_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==bobs_burgers_id])
bojack_horseman_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==bojack_horseman_id])
mr_pickles_episodes = list(all_episodes['tconst'].loc[all_episodes['parentTconst']==mr_pickles_id])
all_shows_episodes = list(all_episodes['tconst'])

print(f"Simpson episode ids: {simpson_episodes[0:5]}")
print(f"Mr.Prickles episode ids: {mr_pickles_episodes[0:3]}")
print(f"All 24 shows episode ids: {all_shows_episodes[0:3]}")

Simpson episode ids: ['tt0177842', 'tt0348034', 'tt0701040', 'tt0701041', 'tt0701042']
Mr.Prickles episode ids: ['tt3080196', 'tt4057144', 'tt4073776']
All 24 shows episode ids: ['tt0177842', 'tt0289860', 'tt0348034']

# Get all 24 shows each episode rankings and votes in a dataframe

In [68]:
all_shows_rating_votes_df = titles_ratings_pf[titles_ratings_pf.tconst.isin(all_shows_episodes)]

In [70]:
all_shows_rating_votes_df.head(20)

,tconst,averageRating,numVotes,tableName,tableDescription
114777,tt0177842,8.6,1852,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
164935,tt0289860,8.0,766,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
189102,tt0348034,8.2,4731,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
208774,tt0394893,8.1,2817,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
233968,tt0458217,8.7,2177,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254795,tt0511629,7.8,556,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254796,tt0511630,7.4,504,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254797,tt0511631,7.8,553,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254798,tt0511632,7.1,488,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254799,tt0511633,7.3,516,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254800,tt0511634,7.4,471,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254801,tt0511635,7.3,600,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254802,tt0511636,7.5,545,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254803,tt0511637,7.3,497,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254804,tt0511638,7.4,698,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254805,tt0511639,7.6,540,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254806,tt0511640,7.6,491,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254807,tt0511641,7.3,570,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254808,tt0511642,7.6,561,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
254809,tt0511643,7.6,547,title.ratings.tsv.gz,Contains the IMDb rating and votes information...

## Explore Table 6 title.principals.tsv.gz

In [92]:
titles_principals_pf.head()

,tconst,ordering,nconst,category,job,characters,tableName,tableDescription
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]",title.principals.tsv.gz,Contains the principal cast_crew for titles
1,tt0000001,2,nm0005690,director,\N,\N,title.principals.tsv.gz,Contains the principal cast_crew for titles
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N,title.principals.tsv.gz,Contains the principal cast_crew for titles
3,tt0000002,1,nm0721526,director,\N,\N,title.principals.tsv.gz,Contains the principal cast_crew for titles
4,tt0000002,2,nm1335271,composer,\N,\N,title.principals.tsv.gz,Contains the principal cast_crew for titles

In [93]:
simpsons_person_s1ep1 = titles_principals_pf.loc[titles_principals_pf['tconst'] == 'tt0348034']
simpsons_person_s1ep1.head()

,tconst,ordering,nconst,category,job,characters,tableName,tableDescription
2471184,tt0348034,10,nm0757017,producer,producer,\N,title.principals.tsv.gz,Contains the principal cast_crew for titles
2471185,tt0348034,1,nm0144657,actor,\N,"[""Homer Simpson"",""Barney Gumble"",""Elf Moldy""]",title.principals.tsv.gz,Contains the principal cast_crew for titles
2471186,tt0348034,2,nm0001413,actress,\N,"[""Marge Simpson"",""Patty Bouvier"",""Selma Bouvier""]",title.principals.tsv.gz,Contains the principal cast_crew for titles
2471187,tt0348034,3,nm0004813,actress,\N,"[""Bart Simpson"",""Ralph Wiggum"",""SNPP employee""]",title.principals.tsv.gz,Contains the principal cast_crew for titles
2471188,tt0348034,4,nm0810379,actress,\N,"[""Lisa Simpson""]",title.principals.tsv.gz,Contains the principal cast_crew for titles

## Explore Table 7 title.ratings.tsv.gz

In [97]:
titles_ratings_pf.head()

,tconst,averageRating,numVotes,tableName,tableDescription
0,tt0000001,5.8,1458,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
1,tt0000002,6.4,175,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
2,tt0000003,6.6,1069,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
3,tt0000004,6.4,104,title.ratings.tsv.gz,Contains the IMDb rating and votes information...
4,tt0000005,6.2,1770,title.ratings.tsv.gz,Contains the IMDb rating and votes information...

## How to find the raking of an episode

In [98]:
simpsons_s7e6_ranking = titles_ratings_pf.loc[titles_ratings_pf['tconst'] == 'tt0177842']
simpsons_s7e6_ranking.head()

,tconst,averageRating,numVotes,tableName,tableDescription
114777,tt0177842,8.6,1852,title.ratings.tsv.gz,Contains the IMDb rating and votes information...

# End Explore Tables section

In [77]:
series = titles_basic_pf.loc[titles_basic_pf['titleType'] == 'tvSeries']
series.tail(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,tableName,tableDescription
5590419,tt9673644,tvSeries,Al's Pals,Al's Pals,0,2012,\N,\N,Family,title.basics.tsv.gz,information for titles
5590503,tt9673848,tvSeries,Boyz,Boyz,0,2015,2015,\N,Comedy,title.basics.tsv.gz,information for titles
5590615,tt9674084,tvSeries,Pokémon: Sun & Moon Ultra Adventures,Pokémon: Sun & Moon Ultra Adventures,0,2018,2019,\N,Animation,title.basics.tsv.gz,information for titles
5590638,tt9674146,tvSeries,American Mythology,American Mythology,0,2019,\N,\N,Documentary,title.basics.tsv.gz,information for titles
5590836,tt9674954,tvSeries,The Fiery Priest,Yeolhyeolsaje,0,2019,\N,\N,\N,title.basics.tsv.gz,information for titles

In [8]:
genres = episodes['genres'].unique()

In [9]:
for g in genres:
    print(g)

Western
Drama
Drama,History,Music
Adventure,Drama,Family
Comedy,Drama
Comedy,Drama,Family
Comedy,Drama,Romance
Adventure,Biography,Drama
Comedy,Crime,Drama
Comedy,Drama,History
Crime
Mystery
Documentary
Comedy,Drama,Musical
Drama,Mystery
Family,Fantasy,Romance
Drama,Western
\N
Drama,War
Crime,Drama
Thriller
Drama,Horror,Sci-Fi
Action,Adventure,Sci-Fi
Biography,Documentary,Music
Romance
Crime,Drama,Mystery
Talk-Show
Horror
Adventure
Sci-Fi
Action,Crime,Drama
Drama,Fantasy,Horror
Adventure,Drama
Biography
Animation,Comedy,Drama
Action,Adventure,Comedy
Music
Drama,Family,Romance
Drama,History
Musical
Adventure,Drama,Western
Mystery,Thriller
Crime,Fantasy,Mystery
Drama,Horror,Mystery
Comedy
Adventure,Comedy,Drama
Adventure,Animation,Comedy
Adventure,Comedy,Family
Drama,Sport
Crime,Mystery,Thriller
Drama,History,War
Crime,Drama,Family
Adventure,Sci-Fi
Action,Adventure,Drama
Action,Adventure,Crime
Crime,Thriller
Family
Horror,Mystery
Adventure,Comedy
Fantasy,Horror
Adventure,Animation,Family
Adventure,Comedy,Sci-Fi
Drama,Romance
Drama,Thriller
Documentary,News
Sport
Drama,Fantasy,Sci-Fi
Adventure,Thriller
Action,Drama,Fantasy
Animation,Crime,Sci-Fi
Drama,Horror
Action,Drama
Action,Adventure,Animation
Adventure,Comedy,Crime
Comedy,Drama,Mystery
Fantasy,Mystery
Animation,Comedy,Family
Biography,Documentary
Action,Crime,Sci-Fi
Action,Adventure
Action,Sci-Fi
Biography,Documentary,History
Crime,Drama,Horror
Action,Adventure,Mystery
Documentary,Drama,Family
Horror,Thriller
Crime,Mystery
Comedy,Romance
Animation,Horror
Crime,Drama,Sci-Fi
Action,Comedy,Thriller
Comedy,Family,Fantasy
Comedy,Drama,Fantasy
Horror,Mystery,Thriller
Action,Crime,Fantasy
Comedy,Western
Drama,Family,Sport
Animation,Comedy
Action,Animation,Comedy
Documentary,Music
Documentary,History
Action,Adventure,Family
Animation,Comedy,Documentary
Comedy,Family
Action,Crime
Comedy,Crime
Crime,Drama,Romance
Action
Biography,Comedy,Drama
Adventure,Western
Mystery,Sci-Fi
Animation
Biography,Drama,History
Adventure,Fantasy,Sci-Fi
Drama,Family
Adventure,Comedy,Mystery
Crime,Drama,History
Comedy,Documentary
Action,Drama,Sci-Fi
Drama,Musical
Drama,Family,Western
Drama,Mystery,Sci-Fi
Action,Crime,Mystery
Documentary,History,Mystery
Action,Comedy,Crime
Comedy,Crime,Fantasy
Adult,Animation,Short
Adventure,Drama,Sci-Fi
Action,Comedy
Adventure,Animation,Fantasy
Comedy,Fantasy
Adventure,Comedy,Fantasy
Documentary,Family
Documentary,Sci-Fi,Sport
Romance,Western
Drama,Fantasy
Horror,Sci-Fi
Comedy,Drama,War
Drama,Sci-Fi
Action,Drama,Mystery
Action,Comedy,Sci-Fi
Adventure,Documentary
Adventure,Game-Show,Reality-TV
Music,Musical
Fantasy,Horror,Mystery
Action,Adventure,Romance
Biography,Crime,Documentary
Drama,Family,Fantasy
Adult,Adventure,Animation
Short,Thriller
Adventure,Crime,Drama
Documentary,Thriller
Action,Animation,Drama
Comedy,Talk-Show
Drama,Short
Adventure,History,Romance
Reality-TV
Drama,Fantasy,Music
Documentary,War
Documentary,Short
Documentary,Talk-Show
Animation,Family
Comedy,Drama,Music
Documentary,History,War
Animation,Comedy,Music
History,Sci-Fi
Fantasy,Horror,Sci-Fi
Family,Music
Game-Show,Reality-TV
Action,Adventure,Documentary
Comedy,Family,Romance
Animation,Family,Short
Family,Game-Show,Music
Documentary,Horror
Drama,History,Mystery
Crime,Documentary,Mystery
Animation,Drama,History
Biography,Drama
Animation,Family,Musical
History
Biography,History,Sport
Comedy,Drama,Short
Drama,Mystery,Thriller
Action,Crime,Thriller
Game-Show
Comedy,Documentary,Music
Adventure,Game-Show,Mystery
Action,Thriller
Crime,Mystery,Talk-Show
Drama,Reality-TV
Crime,Drama,Thriller
Comedy,Music,Talk-Show
News,Talk-Show
Fantasy
Documentary,Romance
Family,Reality-TV
Crime,Documentary
Action,Drama,Romance
Action,Adventure,History
Family,Mystery
Documentary,Sci-Fi
Comedy,Sport
Comedy,Crime,Mystery
Adventure,Sci-Fi,Thriller
Game-Show,Music,Reality-TV
Drama,Fantasy,Mystery
Documentary,Western
Adventure,Drama,Romance
Adventure,Family,Fantasy
Animation,Comedy,Fantasy
Action,Adventure,Fantasy
Comedy,Mystery,Sci-Fi
History,Reality-TV
Comedy,Fantasy,Thriller
Drama,News,Talk-Show
Comedy,Documentary,History
Crime,Documentary,Drama
News
Action,Animation,Sci-Fi
Comedy,Music
Comedy,Game-Show,News
Comedy,Documentary,Reality-TV
Comedy,Sci-Fi
Adventure,Family
Action,History
Reality-TV,Sport
Documentary,Mystery,Reality-TV
Music,Reality-TV
Comedy,Reality-TV
Drama,Mystery,Romance
Family,News,Talk-Show
Family,Game-Show
Comedy,History,War
Horror,Short
Documentary,News,Short
Comedy,Family,Game-Show
Game-Show,Romance
Drama,Sci-Fi,Thriller
Game-Show,Sport
Comedy,Game-Show
Comedy,Family,Music
Game-Show,Talk-Show
Documentary,Reality-TV
Family,Musical
Comedy,Family,Sci-Fi
Comedy,Fantasy,Sci-Fi
Comedy,War
Music,News
Action,Animation,Fantasy
Comedy,Mystery
Family,Fantasy
Comedy,Family,Horror
Animation,Family,Fantasy
Adventure,Family,Western
Adventure,Animation,Sci-Fi
Adventure,Game-Show
Crime,News
News,Sport
Adventure,Crime
Family,Fantasy,Musical
Comedy,Drama,Sci-Fi
Animation,Drama,Family
Comedy,Drama,Sport
Crime,Reality-TV
Comedy,Family,Reality-TV
Drama,Music
Action,Game-Show,Sport
Drama,Horror,Thriller
Action,War
Sport,Talk-Show
Adventure,Animation,Drama
Fantasy,Sci-Fi,Thriller
Adventure,Family,Sci-Fi
Adventure,Drama,Fantasy
Reality-TV,Talk-Show
Crime,Documentary,News
Comedy,Game-Show,Reality-TV
Animation,Drama,Fantasy
Music,Sport
Game-Show,Reality-TV,Romance
Adventure,Fantasy
Comedy,Music,Romance
Family,Sport
Documentary,Family,Sport
Family,Game-Show,Reality-TV
Comedy,Family,Musical
Game-Show,Music
Crime,Drama,Fantasy
Music,Talk-Show
Comedy,Game-Show,Music
Family,Sci-Fi
Action,Adventure,Thriller
News,Sport,Talk-Show
Biography,Documentary,Sport
Action,Comedy,Horror
Comedy,Documentary,Family
Biography,Documentary,Family
Comedy,History
Comedy,Reality-TV,Romance
Animation,Comedy,Crime
Action,Animation,Family
Documentary,Drama
Crime,Horror,Mystery
Family,Talk-Show
Comedy,Short
Comedy,News
Comedy,News,Talk-Show
Family,Fantasy,Sci-Fi
Family,News
Family,Short
Documentary,Family,Music
Drama,Family,Sci-Fi
Comedy,Horror,Sci-Fi
Action,Fantasy,Sci-Fi
Animation,Comedy,Sci-Fi
Drama,Romance,Sci-Fi
Action,Comedy,Family
Crime,Drama,Game-Show
Drama,Game-Show,Mystery
History,War
Action,Drama,War
Comedy,Musical
Action,Documentary,History
Action,Game-Show,Reality-TV
Action,Crime,Reality-TV
Biography,Drama,Romance
News,Reality-TV
Adventure,History
Animation,Fantasy,Horror
Comedy,Crime,Thriller
Fantasy,Reality-TV
Sci-Fi,Talk-Show
Documentary,News,War
Comedy,Documentary,Short
Documentary,News,Talk-Show
Action,Game-Show,Sci-Fi
Adventure,War
Action,Drama,History
Adventure,History,Western
Drama,Horror,Romance
Adventure,Drama,Mystery
Biography,Documentary,Mystery
Sci-Fi,Thriller
Animation,Sci-Fi
Comedy,Music,News
Documentary,Mystery
Biography,Reality-TV
Animation,Family,Mystery
Adventure,Biography,Comedy
Action,Animation
Drama,Family,Music
Mystery,Romance
Drama,Reality-TV,Talk-Show
Adventure,Family,Sport
Crime,History
Adventure,Comedy,Talk-Show
Comedy,Family,Talk-Show
Action,Comedy,Fantasy
Drama,Talk-Show
Comedy,Horror
Animation,Comedy,Reality-TV
Game-Show,Reality-TV,Sport
Comedy,Music,Sport
Action,Drama,Thriller
Action,Sport
Comedy,Music,Musical
Comedy,Family,Mystery
Family,Fantasy,Game-Show
Animation,Documentary,Drama
Comedy,Romance,Sport
Crime,Family
Adventure,Crime,Family
Drama,Music,Musical
Adventure,Family,Game-Show
Comedy,Sport,Talk-Show
Crime,Documentary,Music
Action,Game-Show
Game-Show,Reality-TV,Thriller
Action,Adventure,Reality-TV
Adventure,Reality-TV
Adventure,Fantasy,Horror
Family,Sport,Talk-Show
Horror,Mystery,Sci-Fi
Family,Western
Family,Music,Talk-Show
Action,Animation,Crime
Adventure,Drama,War
Comedy,Fantasy,Horror
Action,Fantasy,Horror
Family,Fantasy,Mystery
Animation,Drama,Sci-Fi
Comedy,Drama,Horror
Music,News,Talk-Show
Family,Fantasy,Horror
History,Talk-Show
Game-Show,Musical
Comedy,Documentary,Talk-Show
Musical,Romance
Adventure,War,Western
Adventure,Mystery
Family,Game-Show,Sport
Biography,Comedy,Documentary
Drama,Musical,Mystery
Comedy,Family,Sport
Crime,Family,Mystery
Comedy,Drama,Western
Family,Horror,Sci-Fi
Documentary,History,Horror
Adventure,Comedy,Western
Comedy,Fantasy,Music
Drama,News
Comedy,Crime,Music
Comedy,Crime,Sci-Fi
Drama,History,Romance
Comedy,Reality-TV,Sci-Fi
Biography,Documentary,Drama
Mystery,Reality-TV
Adventure,Comedy,Reality-TV
Action,Horror,Thriller
Documentary,Musical
Action,Horror,Sci-Fi
Adventure,Drama,Reality-TV
Comedy,Thriller
Family,Fantasy,Music
Action,Comedy,Reality-TV
Action,Adventure,Game-Show
Family,Fantasy,Sport
Adult
History,News
Romance,Sport
Biography,Talk-Show
Fantasy,Thriller
Action,Drama,Family
Comedy,Game-Show,Sport
Documentary,Family,News
Adventure,Animation
Biography,Crime,Drama
Action,Family
Comedy,Reality-TV,Talk-Show
Action,Western
Biography,History
Reality-TV,Romance
Animation,Fantasy
Comedy,Game-Show,Musical
Reality-TV,Sci-Fi
Comedy,Crime,Family
Comedy,Drama,Talk-Show
Documentary,Drama,History
Drama,Romance,Western
Biography,History,Talk-Show
Comedy,Fantasy,Musical
Crime,Sci-Fi
Documentary,Sport
Adventure,Family,Horror
Horror,Reality-TV
Comedy,Mystery,Romance
Crime,Drama,Reality-TV
Comedy,Musical,Romance
Comedy,Fantasy,Romance
Drama,History,Sci-Fi
Drama,Romance,War
Documentary,News,Sport
Documentary,Music,Talk-Show
Action,Mystery,Thriller
Animation,Comedy,Horror
Comedy,Game-Show,Talk-Show
Drama,Romance,Thriller
Drama,Romance,Sport
Comedy,Music,Reality-TV
Documentary,Reality-TV,Sport
Adult,Comedy
Comedy,Documentary,Drama
Documentary,Family,Talk-Show
Crime,Drama,Music
Crime,Drama,Sport
Comedy,Documentary,News
Adventure,Family,Mystery
Action,Adventure,Western
Adventure,Family,History
Comedy,Crime,History
Action,Crime,Romance
Animation,Family,Sport
Action,Drama,Music
Adventure,Drama,History
Adventure,Comedy,Thriller
Animation,Comedy,Musical
Mystery,Sci-Fi,Thriller
Adventure,Comedy,Romance
Comedy,Horror,Reality-TV
Horror,Mystery,Reality-TV
Family,Mystery,Sport
Adventure,Horror,Sci-Fi
Fantasy,Western
Comedy,Fantasy,Mystery
Family,Horror
Action,Family,Fantasy
Comedy,Horror,Mystery
Crime,Western
Crime,Drama,Western
Game-Show,Music,Talk-Show
Action,Comedy,Drama
Adventure,Animation,Crime
Drama,Thriller,War
Family,Music,Reality-TV
Adult,Comedy,Sci-Fi
Drama,Sport,Western
Adventure,Mystery,Sci-Fi
Comedy,Documentary,Sport
Adventure,Reality-TV,Thriller
Animation,Drama
Biography,Family,Reality-TV
Family,News,Sport
Fantasy,Romance
Drama,Fantasy,History
Action,Reality-TV,Sport
Comedy,Drama,Thriller
Action,Sci-Fi,Thriller
Animation,Documentary,Family
Action,Documentary,War
Drama,Romance,Short
Action,Comedy,Sport
Action,Family,Sport
Adventure,Comedy,War
Action,Drama,Horror
Family,Game-Show,Mystery
Documentary,History,Western
Adventure,Comedy,Documentary
Action,Fantasy
Adventure,Family,Thriller
Animation,Family,Sci-Fi
Adventure,Family,Romance
Family,Romance
Documentary,Game-Show,News
Animation,Musical
Adventure,Crime,Reality-TV
Action,Biography
Music,News,Reality-TV
Comedy,Musical,Talk-Show
Romance,Talk-Show
Drama,Fantasy,Thriller
Music,Sport,Talk-Show
Family,Sci-Fi,Thriller
Action,Comedy,Music
Comedy,Documentary,Game-Show
Adventure,Documentary,Family
Animation,Documentary,Sci-Fi
Adventure,Documentary,Reality-TV
Biography,Family,News
Documentary,Sport,Talk-Show
Game-Show,Short
Action,Family,Sci-Fi
Animation,History
Adventure,Short
Biography,Documentary,News
Drama,Reality-TV,Romance
Fantasy,Mystery,Sci-Fi
Documentary,Mystery,Sci-Fi
Comedy,Reality-TV,Short
Action,Crime,Documentary
Animation,Documentary
Animation,Documentary,History
Drama,Music,Romance
Short
Animation,Horror,Mystery
Comedy,History,Reality-TV
Game-Show,History,Music
Crime,Horror,Thriller
Animation,Comedy,Romance
Action,Reality-TV
Drama,Fantasy,Romance
Biography,News
Drama,Game-Show,Reality-TV
Reality-TV,Short
Animation,Drama,Sport
Drama,Musical,Romance
Documentary,Music,Reality-TV
Game-Show,Mystery
Biography,Music
Documentary,History,Sport
Documentary,News,Reality-TV
Music,Reality-TV,Romance
Adventure,Sport
Crime,Drama,Talk-Show
Animation,Family,Talk-Show
Action,Animation,Sport
Documentary,Horror,Mystery
Animation,Crime,Drama
Crime,Mystery,Reality-TV
Adventure,Family,War
Adventure,Crime,Mystery
Animation,Sport
Animation,Sci-Fi,Thriller
Documentary,Drama,Mystery
Comedy,Family,Short
Animation,Family,History
Horror,Sci-Fi,Thriller
Animation,Comedy,Sport
Action,Drama,Short
News,Short
Biography,Comedy
Animation,Horror,Sci-Fi
History,Mystery
War
Animation,Music
Sci-Fi,Short
Comedy,Drama,Reality-TV
Biography,Documentary,Horror
Adventure,Comedy,History
Action,Animation,Western
Reality-TV,Romance,Talk-Show
Biography,Documentary,War
Adventure,Animation,Music
Biography,Mystery
Animation,Drama,Horror
Family,Music,Short
Crime,News,Talk-Show
Mystery,Reality-TV,Sci-Fi
Animation,Short
Action,Romance
Animation,Sport,Thriller
Animation,Fantasy,History
Animation,Crime
Documentary,Drama,Reality-TV
Action,Animation,Romance
Animation,Drama,Mystery
Animation,Drama,Romance
Animation,Fantasy,Sci-Fi
Animation,Romance
Documentary,Drama,Sci-Fi
Animation,Drama,Music
Adventure,Drama,Music
Animation,Mystery,Thriller
Animation,Fantasy,Sport
Action,Documentary
Animation,Comedy,Short
Action,Romance,Thriller
Animation,Comedy,Game-Show
Documentary,Reality-TV,Talk-Show
Family,Musical,Romance
Action,Animation,Mystery
Action,Biography,Drama
Biography,Documentary,Talk-Show
News,Sport,War
Crime,Romance
Game-Show,Mystery,Reality-TV
Comedy,History,Short
Biography,Reality-TV,Talk-Show
Fantasy,Romance,Sci-Fi
Adventure,Documentary,Mystery
Animation,Family,Game-Show
Biography,Drama,Family
Adventure,Musical
Crime,Horror,Sci-Fi
Action,Comedy,Game-Show
Family,Reality-TV,Short
Comedy,Music,Short
Action,Animation,Music
Horror,Romance
Comedy,Horror,Talk-Show
Documentary,History,Music
Biography,War
Comedy,Reality-TV,Sport
Crime,Drama,War
Biography,Drama,Musical
Adventure,Documentary,History
Documentary,Family,History
Documentary,Drama,Sport
Drama,Family,History
Family,Reality-TV,Talk-Show
Adventure,Mystery,Thriller
Adventure,Family,Reality-TV
Animation,Game-Show
Music,Reality-TV,Talk-Show
Musical,Reality-TV
Documentary,Game-Show
Documentary,History,Reality-TV
Action,Adventure,News
Animation,Comedy,Mystery
Animation,Fantasy,Mystery
Animation,Sci-Fi,Sport
Drama,Reality-TV,Sport
Animation,Romance,Sci-Fi
Animation,War
Drama,Family,Reality-TV
Animation,Fantasy,Romance
Family,History,Reality-TV
Documentary,History,Talk-Show
Adult,Animation,Drama
Adult,Reality-TV,Talk-Show
Comedy,Family,History
Documentary,History,Sci-Fi
Biography,Drama,Music
Crime,Game-Show
Adventure,Documentary,Drama
Family,Talk-Show,Thriller
Adventure,Animation,Romance
Music,Romance
Crime,Fantasy,History
Drama,Music,Mystery
Family,Reality-TV,Sport
Action,Animation,Horror
Animation,Fantasy,Music
Drama,Musical,War
History,Romance,War
Family,Music,Mystery
Biography,Drama,War
Drama,History,Sport
Comedy,Musical,Sci-Fi
Documentary,Family,Reality-TV
Biography,Crime,History
Adventure,Drama,Horror
Comedy,Sci-Fi,Short
Action,Animation,Thriller
Action,Comedy,History
Adventure,Crime,Thriller
Animation,Family,Music
Adult,Comedy,Drama
Comedy,Crime,Romance
News,Reality-TV,Sport
Action,Fantasy,Mystery
Romance,Thriller
History,Romance
Musical,Talk-Show
Comedy,News,Reality-TV
History,Sci-Fi,Thriller
Drama,Family,Mystery
Drama,Music,Reality-TV
Action,Game-Show,History
Adult,Adventure,Comedy
Family,Music,News
Drama,Mystery,Reality-TV
Adventure,Mystery,Talk-Show
Animation,Mystery
Comedy,Game-Show,History
Biography,Comedy,Music
Action,Adventure,Biography
History,Reality-TV,War
Biography,Drama,Reality-TV
Animation,Western
Biography,Music,Sport
Action,Biography,Reality-TV
Biography,Family
Documentary,Reality-TV,War
Family,Music,Musical
Comedy,History,Music
Family,News,Reality-TV
Family,Musical,Reality-TV
Adventure,Reality-TV,Sport
Biography,Crime
Animation,Family,Western
Crime,Documentary,Reality-TV
Family,Game-Show,Talk-Show
Crime,Talk-Show
Crime,Mystery,Romance
History,Short
Music,Short
Family,Thriller
Action,Documentary,Reality-TV
Action,Mystery,Sci-Fi
Crime,Horror
Adventure,Drama,Short
History,Music
Comedy,Musical,War
Biography,Crime,Mystery
Adventure,Family,Music
Crime,Fantasy,Romance
Biography,News,Talk-Show
Mystery,Talk-Show
Animation,Comedy,Talk-Show
Comedy,Crime,Game-Show
Fantasy,Sci-Fi,Talk-Show
Adventure,Fantasy,Romance
Biography,Thriller
Horror,Reality-TV,Short
Biography,Documentary,Reality-TV
Comedy,Horror,Thriller
Drama,Sci-Fi,Short
Biography,Drama,Sport
Adult,Animation,Fantasy
Action,History,War
Animation,Crime,Family
Animation,Comedy,News
Action,Crime,Horror
Family,History
Comedy,Horror,News
Family,Music,Romance
Action,Short
Fantasy,Sci-Fi
Action,Animation,War
Crime,News,Thriller
Documentary,Sci-Fi,Short
Crime,Documentary,History
Documentary,Music,Sport
Animation,Sci-Fi,War
Action,Adventure,Music
Adventure,Romance,Western
Crime,Reality-TV,Thriller
Adventure,Fantasy,Mystery
Comedy,Documentary,Horror
Fantasy,Musical
Animation,Biography,Documentary
Biography,Romance
Comedy,Romance,Short
Romance,Sci-Fi
Mystery,Sci-Fi,Short
Drama,Mystery,War
Action,Comedy,Romance
Drama,Musical,Sport
Short,Talk-Show
Adventure,Comedy,Musical
Horror,Talk-Show
Fantasy,Mystery,Thriller
Comedy,News,Romance
Adventure,Animation,Western
Biography,Horror,Music
Crime,Reality-TV,Talk-Show
Animation,Comedy,History
Biography,Music,Reality-TV
Action,Drama,Reality-TV
Comedy,News,Sport
Adventure,Comedy,Game-Show
Biography,Comedy,Reality-TV
Action,Mystery,Romance
Comedy,Game-Show,Mystery
Adventure,Reality-TV,Talk-Show
Comedy,Family,Western
Biography,Fantasy
Comedy,Crime,Reality-TV
Animation,Biography,Comedy
Action,News,Sport
History,News,Sci-Fi
Documentary,Horror,Sci-Fi
Action,Thriller,Western
Crime,Family,Music
Horror,Reality-TV,Sci-Fi
Action,History,Romance
Comedy,Crime,Musical
Biography,Family,History
Comedy,Horror,Romance
Adventure,Biography,Crime
Animation,News
Fantasy,Short
Comedy,Sci-Fi,Thriller
News,Sci-Fi
Horror,Romance,Thriller
Documentary,Fantasy,Short
Documentary,Game-Show,Reality-TV
Adventure,Romance
Animation,Documentary,Short
History,Music,News
Adventure,Documentary,Music
Animation,Documentary,Talk-Show
Biography,Documentary,Short
Family,Game-Show,History
Comedy,News,Sci-Fi
Documentary,Mystery,Thriller
Family,Fantasy,History
Drama,History,Thriller
Documentary,Family,Game-Show
Comedy,Horror,Short
Game-Show,Reality-TV,Sci-Fi
Fantasy,Musical,Sci-Fi
History,News,Talk-Show
Horror,Sci-Fi,Talk-Show
Action,Comedy,Short
Action,Documentary,Drama
Action,Horror,Reality-TV
Action,Biography,Comedy
News,Reality-TV,Talk-Show
Action,Family,Game-Show
nan
Adventure,Family,Musical
Documentary,Drama,News
Action,History,Reality-TV
Family,Horror,Mystery
Action,Sci-Fi,Short
Drama,Horror,Western
Adventure,Crime,History
Action,Drama,Sport
Mystery,News,Reality-TV
Comedy,Crime,Short
Biography,Comedy,Horror
Adventure,Music,Western
Documentary,Reality-TV,Short
Adventure,Comedy,Horror
Action,Adult
Comedy,Short,Talk-Show
History,Mystery,Thriller
Documentary,Music,News
Biography,Drama,Western
Action,Romance,Sci-Fi
Adventure,Crime,Horror
History,Mystery,Reality-TV
Adventure,Animation,Documentary
Thriller,War
Comedy,History,Horror
Crime,Drama,Short
Short,Sport
Animation,Drama,Thriller
Action,Mystery
Biography,History,Mystery
Fantasy,Romance,Thriller
Comedy,Game-Show,Short
Comedy,Short,Thriller
Comedy,Musical,Short
Adventure,Drama,Thriller
Adventure,Animation,Short
Comedy,Family,News
Action,News,Talk-Show
Action,Biography,Documentary
Comedy,Game-Show,Romance
Documentary,Fantasy,Musical
Comedy,Music,Sci-Fi
Comedy,Romance,Sci-Fi
Adventure,Comedy,Short
Musical,Short
Adult,Romance
Comedy,Crime,Documentary
Documentary,Family,Short
Comedy,Mystery,Short
Comedy,Short,Sport
Biography,Drama,News
Animation,Talk-Show
Drama,Family,Talk-Show
Animation,Horror,Short
Crime,Documentary,Family
Adventure,Fantasy,Reality-TV
Drama,Reality-TV,Thriller
Crime,Documentary,Game-Show
Adventure,Fantasy,Short
Fantasy,History,Sci-Fi
Animation,Music,Romance
Crime,Horror,Romance
Family,History,News
Comedy,History,Musical
Adventure,History,News
Comedy,Fantasy,Short
Drama,Horror,Reality-TV
Crime,Fantasy,Horror

In [13]:
episodes.head(50)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34995,tt0035599,tvSeries,Voice of Firestone Televues,Voice of Firestone Televues,0,1943,1947,15,\N
37625,tt0038276,tvSeries,You Are an Artist,You Are an Artist,0,1946,1950,15,\N
38459,tt0039120,tvSeries,Americana,Americana,0,1947,1949,30,"Family,Game-Show"
38460,tt0039121,tvSeries,Birthday Party,Birthday Party,0,1947,1949,30,Family
38461,tt0039122,tvSeries,The Borden Show,The Borden Show,0,1947,\N,30,"Comedy,Music"
38462,tt0039123,tvSeries,Kraft Theatre,Kraft Television Theatre,0,1947,1958,60,Drama
38463,tt0039124,tvSeries,Party Line,Party Line,0,1947,\N,30,\N
38464,tt0039125,tvSeries,Public Prosecutor,Public Prosecutor,0,1947,1951,20,"Crime,Drama,Mystery"
39349,tt0040021,tvSeries,Actor's Studio,Actor's Studio,0,1948,1950,30,Drama
39350,tt0040022,tvSeries,The Adventures of Oky Doky,The Adventures of Oky Doky,0,1948,1949,30,"Comedy,Family,Fantasy"
39351,tt0040023,tvSeries,The Alan Dale Show,The Alan Dale Show,0,1948,1951,30,Music
39352,tt0040024,tvSeries,America Song,America Song,0,1948,1949,15,Music
39353,tt0040025,tvSeries,America Speaks,America Speaks,0,1948,\N,15,\N
39354,tt0040026,tvSeries,America's Town Meeting,America's Town Meeting,0,1948,1952,60,Talk-Show
39355,tt0040027,tvSeries,The Arrow Show,The Arrow Show,0,1948,1949,30,"Comedy,Music"
39356,tt0040028,tvSeries,Talent Scouts,Talent Scouts,0,1948,1958,30,"Comedy,Family,Music"
39357,tt0040029,tvSeries,At Liberty Club,At Liberty Club,0,1948,\N,30,Music
39358,tt0040030,tvSeries,Author Meets the Critics,Author Meets the Critics,0,1947,1954,30,"Family,Talk-Show"
39359,tt0040031,tvSeries,"Barney Blake, Police Reporter","Barney Blake, Police Reporter",0,1948,\N,30,"Crime,Drama"
39360,tt0040032,tvSeries,The Bigelow Show,The Bigelow Show,0,1948,1949,30,Music
39361,tt0040033,tvSeries,"Break the $250,000 Bank",Break the Bank,0,1948,1957,30,"Family,Game-Show"
39362,tt0040034,tvSeries,Candid Camera,Candid Camera,0,1948,1950,30,"Comedy,Family,Reality-TV"
39363,tt0040035,tvSeries,Captain Billy's Mississippi Music Hall,Captain Billy's Mississippi Music Hall,0,1948,\N,30,"Comedy,Music"
39364,tt0040036,tvSeries,The Chevrolet Tele-Theatre,The Chevrolet Tele-Theatre,0,1948,1950,30,Drama
39365,tt0040037,tvSeries,The Fashion Story,The Fashion Story,0,1948,1949,30,Comedy
39366,tt0040038,tvSeries,The Growing Paynes,The Growing Paynes,0,1948,1949,30,"Comedy,Family"
39367,tt0040039,tvSeries,Hollywood Screen Test,Hollywood Screen Test,0,1948,1953,30,Family
39368,tt0040040,tvSeries,Kobb's Corner,Kobb's Corner,0,1948,1949,30,\N
39369,tt0040041,tvSeries,Texaco Star Theatre,Texaco Star Theatre Starring Milton Berle,0,1948,1956,60,"Comedy,Family"
39370,tt0040042,tvSeries,The Morey Amsterdam Show,The Morey Amsterdam Show,0,1948,1950,30,"Comedy,Family,Music"
39371,tt0040043,tvSeries,Movieland Quiz,Movieland Quiz,0,1948,\N,30,Game-Show
39372,tt0040044,tvSeries,Museum of Science and Industry,Museum of Science and Industry,0,1948,\N,30,\N
39373,tt0040045,tvSeries,"Okay, Mother","Okay, Mother",0,1948,1951,30,"Comedy,Family,Music"
39374,tt0040046,tvSeries,On the Corner,On the Corner,0,1948,\N,30,Talk-Show
39375,tt0040047,tvSeries,Paris Cavalcade of Fashions,Paris Cavalcade of Fashions,0,1948,1949,15,\N
39376,tt0040048,tvSeries,Perry Como's Kraft Music Hall,The Perry Como Show,0,1948,1967,60,Music
39377,tt0040049,tvSeries,Repertory Theatre,The Philco Television Playhouse,0,1948,1956,60,Drama
39378,tt0040050,tvSeries,Picture This,Picture This,0,1948,1949,10,Family
39379,tt0040051,tvSeries,Studio One in Hollywood,Studio One,0,1948,1958,60,Drama
39380,tt0040052,tvSeries,The Swift Show,The Swift Show,0,1948,\N,30,"Comedy,Music"
39381,tt0040053,tvSeries,The Ed Sullivan Show,Toast of the Town,0,1948,1971,60,"Comedy,Music"
39382,tt0040054,tvSeries,U.N. Casebook,U.N. Casebook,0,1948,1949,\N,\N
39383,tt0040055,tvSeries,Variety,Variety,0,1948,\N,30,\N
39384,tt0040056,tvSeries,Village Barn,Village Barn,0,1948,1949,\N,Music
39385,tt0040057,tvSeries,"We, the People","We, the People",0,1948,1952,30,\N
39386,tt0040058,tvSeries,Welcome Aboard,Welcome Aboard,0,1948,1949,30,"Comedy,Music"
39387,tt0040059,tvSeries,What's It Worth,What's It Worth,0,1948,1949,30,\N
39389,tt0040061,tvSeries,You're Invited,You're Invited,0,1948,\N,30,"Comedy,Music"
39390,tt0040062,tvSeries,Young Broadway,Young Broadway,0,1948,1949,20,Musical
40298,tt0040990,tvSeries,ABC Barn Dance,ABC Barn Dance,0,1949,\N,30,Music